body,
html {
  height: 100%; }

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem; }

.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem; }

.navy {
  background-color: #22577E; }

.blue {
  background-color: #5584AC; }

.beige {
  background-color: #f6f2d4; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

.input-radio {
  border-radius: 5px; }
